/* ===========================
   Base
   =========================== */

body, html {
    width: 100%;
    margin: 0;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.5;
    font-family: $font1;
    // background-color: tomato;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

.picker__holder {
    overflow-y: hidden !important;
    outline: none !important;
    background: none !important;
}

.picker__frame { top: 0 !important; }

.picker__box {
    box-shadow: none !important;
}

.picker__footer {
    display: none !important; 
}

.hidden { display: none; }

::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}